html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    background-color: rgb(45, 45, 45);
}

body {
    padding: 2rem 2rem;
}

.main-header {
    font-size: 30px;
    text-align: center;
}

.task-input {
    display: flex;
    height: 40px;
}

.add-task-input {
    flex: 1 1 0%;
    background-color:rgb(161, 161, 161);
    border: 2px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    text-indent: 10px;
}

.add-task-input:hover {
    background-color: rgb(186, 186, 186);
}

.add-task-input:focus {
    background-color: rgb(186, 186, 186);
    outline: none;   
    border: 2px solid rgb(21, 137, 245);
}

.add-task-button{
    border: 4px;
    padding: 0 1rem 0 1rem ;
    font-weight: bold;
    color: rgb(37, 148, 251);
    background-color: transparent;
}

.task-list-header {
    display: flex;
    height: 40px;
}

.task-list {
    display: block;
    height: 40px;
}

.added-task-container, #list-element {
    display: flex;
    position: relative;
    height: 40px;
}

#list-element {
    margin-top: 5px;
    margin-bottom: 5px;
}

.edit-button {
    padding-left: 15px;
}

.edit-button, .done-button{
    height: 40px;
    border: 0;
    font-weight: bold;
    background-color: transparent;
    color: rgb(37, 148, 251);
}

button:hover {
    outline: none;
    color: rgb(222, 228, 55);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}